<div class="hero">
    <h1>Services</h1>
    <button class="packages-button" (click)="onPackages()">Packages</button>
</div>
<div class="services-container" *ngIf="entries">
    <div class="service" *ngFor="let entry of entries; let i = index" (click)="onSelect(i)">
        <div class="service-photo">
            <img [src]="entry.featuredImage" alt="Service Image">
        </div>
        <div class="service-details">
            <h5 [innerHTML]="entry.title"></h5>
            <h2 [innerHTML]="entry.serviceBenefit"></h2>
        </div>
    </div>
</div>