.hero h1 {
    margin: 0.2rem auto;
}

.packages-button-container {
    display: flex;
    margin: 2rem auto;
    justify-content: center;
}

.packages-button {
    padding: 1rem;
    color: white;
    background-color: var(--quaternary-color);
    border: none;
    width: auto;
    font-size: 1.5rem;
    cursor: pointer;
}

.packages-button:hover {
    filter: brightness(85%);
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    margin: 1rem auto;
}

.service {
    width: 375px;
    background-color: var(--primary-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    cursor: pointer;
}

.service:hover {
    filter: brightness(85%);
}

.service-photo {
    margin: auto;
    border: thin white solid;
    box-shadow: 2px 2px 2px black;
}

.service-photo img {
    width: 350px;
    height: 250px;
}

.service-details h5 {
    color: var(--quaternary-color);
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-family: 'Agbalumo', sans-serif;
}

.service-details h2 {
    color: var(--secondary-color);
    font-family: 'Agbalumo', sans-serif;
}