.inner-wrapper {
    max-width: 1200px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
}

.service-details img {
    float: left;
    margin: 0 1rem 1rem 1rem;
}

.details {
    display: flex;
    gap: 1rem;
    margin: 2rem;
}

.details h3 {
    margin: 0;
}

.details p {
    margin: 0;
}